:root {
  --primary: #b83f45;
  --background: #f5f5f5;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--gray-12);
}

.title {
  padding-top: 45px;
  text-align: center;
  font-style: normal;
  font-weight: 200;
  line-height: 20px;
  font-size: 80px;
  color: var(--primary);
}

.new-todo {
  width: 400px;
  font-size: 24px;
  line-height: 34px;
  border: none;
  border-radius: 2px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 24px 0px 24px 60px;
}

.new-todo:focus {
  outline: 1px solid var(--primary);
}

.new-todo::placeholder {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #a6a6a6;
}
